// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-color: #e71d36;
$secondary-color: #22223b;
$hover: rgba($main-color, 0.7);

$font-size: 1.5rem;
$big-font: 2.2rem;
